* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  max-height: 100vh;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #F5F7FB;
}

.app--img {
  height: 20%;
  width: 20%;
}

.app--img_top {
  margin-left: auto;
}

.app--img_bottom {
  margin-right: auto;
}

.start-screen--content_wapper {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.start-screen--header {
  font-family: 'Karla', sans-serif;
  font-size: 31px;
  line-height: 36px;
  margin-bottom: 7px;
}
.start-screen--text {
  margin-bottom: 29px;
  font-size: 16px;
  line-height: 19px;
}

.btn {
  height: 52px;
  width: 193px;
  background: #4D5B9E;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

.quiz--container {
  padding: 5%;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.question {
  border-bottom: 1px solid #DBDEF0;
  margin-top: 15px;
  width: 100%;
}

.test--question {
  font-family: "Karla";
  font-weight: 700;
  line-height: 18px;
  font-size: 16px;
  margin-bottom: 16px;
  color: #293264;
}

.test--possible_answers_container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.test--possible_answer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-family: 'Inter';
    border: 1px solid #4D5B9E;
    border-radius: 8px;
    min-width: 65px;
    width: fit-content;
    padding: 5px;
    height: 20px;
    margin-bottom: 15px;
    color: #293264;
}

.test--possible_answer:hover {
  background-color: #D6DBF5;
}

.selected {
  background: #D6DBF5;
}

.test--score_container {
  text-align: center;
  margin-top: 30px;
}

.check--answers_btn {
  margin-top: 20px;
  margin-left: 25px;
  align-self: center;
}

.play--again_btn {
  margin-left: 25px;
}

.test--score {
  display: inline;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
}

.correct {
  background-color: #94D7A2;
}

.wrong {
  background-color: #F8BCBC;
}